body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #1a2421;
    color: #d3e4db;
}

header {
    background-color: #0f1412;
    padding: 10px 20px;
}

.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-start;
}

.navbar li {
    margin-right: 20px;
}

.navbar a {
    text-decoration: none;
    color: #d3e4db;
    font-weight: bold;
    transition: color 0.3s ease;
}

.navbar a:hover {
    color: #4caf50;
}

main {
    padding: 20px;
}

section {
    margin-bottom: 40px;
}

.center-image {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
}

.center-image img {
    width: 25%;
    height: 25%;
    border-radius: 10px; /* Estetika */
}

.project-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
}

.project-item {
    background-color: #26332e;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.project-item img {
    max-width: 100%;
    height: auto;
    margin-top: 10px;
    border-radius: 8px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

input, textarea {
    padding: 10px;
    border: 1px solid #4caf50;
    border-radius: 4px;
    background-color: #1a2421;
    color: #d3e4db;
}

button {
    padding: 10px 20px;
    border: none;
    background-color: #4caf50;
    color: #fff;
    font-weight: bold;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #45a049;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #0f1412;
    color: #d3e4db;
}
